.bookings__list {
  list-style: none;
  margin: 60px auto;
  padding: 0;
  width: 40rem;
  max-width: 90%;
}

.bookings__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #49565f;
  background-color: #E7D2CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}