

.App{
  position: absolute;
  top: 130px;
  right: 25%;
  height: 400px;
  width: 50%;
  box-shadow: 12px 12px 10px 10px #cfc7c4;
  padding-top: 40px;
 


}
.auth-form {
  width: 25rem;
 margin: 1rem auto;

}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
 
}
.sign-tag{
  font-size: 25px;
}
.img{
  width: 90px;
  margin: 10px;
}

.form-control label {
  margin-bottom: 0.4rem;
}

.form-control {
  margin-bottom: 0.5rem;
  
}

.form-actions button {
  background: #868B8E;
  font: inherit;
  border: 1px solid #868B8E;
  border-radius: 30px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 2px 2px 5px rgba(67, 63, 63, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #49565f;
    border-color: #4d3b3b;
} 

@media screen and (max-width: 600px){
  .form-control label,
.form-control input {
  width: 60%;
  display: block;
  height: 30px;
 
 
}
.form-control{
  margin-bottom: 10px;
  padding-left: 40px;
}
.App{
  height: 450px;
}

.form-actions{
 padding-left: 70px;
 
}
.form-actions button  {
  display: flex;
  margin-top: 10px;
  
 

}
}